:root{
    --swiper-pagination-color: #fff;
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-navigation-color: #fff;
    --swiper-navigation-sides-offset: 32px;
    --bs-blue: #6022A6;
}

.bg-grey{
    background-color: #E4E4E4;
}

.text-color-purple{
    color: #6022A6;
}

.btn-primary {
    color: #fff;
    background-color: #6022A6;
    border: 1px solid #6022A6;
    border-radius: 0.25rem; 
    padding: 0.45rem 2rem;
    border-radius: 0;
    font-weight: 700;
}
.btn-primary:hover, .btn-primary:focus{
    background-color: #6f42c1;
    border: 1px solid #6f42c1;
    border-radius: 0.25rem; 
    padding: 0.45rem 2rem;
    border-radius: 0;
}

a.numberNote{
    font-size: 0.7rem;
    color: #000;
    text-decoration: none;
    transform: translateY(-5px);
    display: inline-block;
}

a.numberNote:hover{
    color: #6022A6;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

a, button{
    transition: all ease-out 0.2s;
}

body{
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: 'Source Sans 3', sans-serif;
}

nav.navbar.navbar-light{
    background-color: #fff;
}
nav.navbar.navbar-light ul li.cem{
    margin-right: 1rem;
}
nav.navbar.navbar-light .navbar-nav a:not(.purple-link){
    color: #000;
}
nav.navbar.navbar-light .navbar-nav a:not(.purple-link):hover{
    color:#6022A6;
}
nav.navbar.navbar-light .navbar-nav a.purple-link{
    border: 1px solid #6022A6; 
    background-color: #6022A6; 
    color: #fff;
    padding: 0.44rem 1.6rem;
}
nav.navbar.navbar-light .navbar-nav a.purple-link:hover, nav.navbar.navbar-light .navbar-nav a.purple-link:focus, nav.navbar.navbar-light .navbar-nav a.purple-link.active{
    background-color: #6f42c1;
    border: 1px solid #6f42c1;
    color: #fff;
}         


section#bandeau{
    margin-top: 75px;
}


section#presentation h1{
    font-size: 1.56rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
}
section#presentation p{
        font-size: 1.125rem; 
        line-height: 1.4625rem;
}
section#presentation span#more{
        position: relative;
        color:#8D8D8D;
        font-style: italic;
        font-size: 0.75rem; 
}
section#presentation span#more:before, section#presentation span#more:after {
    content: "";
    position: absolute;
    border-top: 1px solid #8D8D8D;
    width: 6.25rem; ;
    height: 7px;
    top: 50%;
}
section#presentation span#more:before {
    right: 100%;
    margin-right: 10px;
}
section#presentation span#more:after {
    left: 100%;
    margin-left: 10px;
}
 

section#bundles div.row>div.col-lg-3{
    align-self: stretch;
}
section#bundles h2{
    font-weight: 600;
    font-size: 1.5625rem; 
    line-height: 2rem;
}
section#bundles div.card {
    height: 100%;
}
section#bundles div.card a.loupe{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #6022A6;
        border-radius: 0;
}
section#bundles div.card a.loupe:hover{
    background-color: #6f42c1;
}
section#bundles h4{
    font-weight: 600;
}
section#bundles img.plus{
    max-width: 45px;
}
    
section#bundles div#senographeModal button.btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    background-color: #fff;
    border-radius: 50%;
    padding: 8px;  
}
section#bundles div#senographeModal h3{
    font-size: 1rem;
    font-weight: 600;
}
section#bundles div#senographeModal h2{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.25rem;
}
section#bundles div#senographeModal div.p-relative{
    position: relative;
}
section#bundles div#senographeModal div.p-border-blue p{
    border-left:0.3rem solid #45B2C5;
    padding-left: 0.6rem;
}
section#bundles div#senographeModal a#footnotesButton{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #D4D4D4;
    padding: 0.3rem 0.9rem;
    text-decoration: none;
    color: #000;
    vertical-align: middle;
}
section#bundles div#senographeModal a#footnotesButton:hover{
    color: #6022A6;
}
            

section#video>button{
    border: none;
    padding: 0;
}
section#video div#videoModal button.btn-close{
    position: absolute;
    top: 12px;
    right: 12px;
}


section#clinicalCases{
    background-color: #000;
    color:#fff;
}
section#clinicalCases swiper-slide{
    padding-bottom: 7rem; 
    padding-top: 5rem;
}


section#cemProgram p, h3, li{
    font-size: 1.125rem;
    line-height: 1.4625rem;
}
section#cemProgram li{
    list-style: none;
}
section#cemProgram h3{
    font-weight: 600;
}


section#contact form#contact button.btn-primary{
    width: auto;
    margin: auto;
    border-radius: 0.25rem; 
}
section#contact form#contact input, section#contact form#contact select{
    background: #E4E4E4;
    border-radius: 0;
}
section#contact form#contact label{
    color: #333
}
section#contact form#contact p, section#contact form#contact a{
    color: #000;
}
section#contact form#contact a:hover{
    color: #333;
}
  


footer#footnotes{
    color:#63666A;
}
footer#footnotes a{
    text-decoration: none;
    color: #63666A;
    transition: all ease-out 0.2s;
}
footer#footnotes a:hover{
    color: #000;
}


@media (min-width: 576px) {
    .modal-dialog {
        width: 100%;
        max-width: 1300px;
        margin: 1.75rem auto;
    }
    
}




